[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
faker = "*"
pillow = "*"

[dev-packages]
django-browser-reload = "*"

[requires]
python_version = "3.14"
