[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
faker = "*"
pillow = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"

[dev-packages]
django-browser-reload = "*"
djlint = "*"
pytest-watcher = "*"

[requires]
python_version = "3.14"
