{% extends "components/layout.html" %}
{% block title %}
  {{ page_title }}
{% endblock %}
{% block content %}
    {% include "components/search.html" %}
    <div class="center">
        <h2>O usuário pesquisou por {{ search_term }}</h2>
    </div>
    <div class="main-content main-content-list container">
        {% for recipe in recipes %}
            {% include "components/recipe.html" %}
        {% empty %}
            <div class="center m-y">
                <h1>No recipes found here</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}
